<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testHandWrittenJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00074331</real>
					<key>baselineIntegrationDisplayName</key>
					<string>6 Mar 2018 at 18:20:49</string>
				</dict>
			</dict>
			<key>testJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.016549</real>
					<key>baselineIntegrationDisplayName</key>
					<string>6 Mar 2018 at 18:20:49</string>
				</dict>
			</dict>
			<key>testJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00012204</real>
					<key>baselineIntegrationDisplayName</key>
					<string>6 Mar 2018 at 18:20:49</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
