<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>PerformanceTests</key>
		<dict>
			<key>testDecimalDigitsCharacterSetDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00060416</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testEmojiCharacterDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00019519</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testHandWrittenJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00057409</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testHexCharacterDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.125e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testInverseCharacterSetDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>8.8303e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testJSONConsumer()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0086328</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testJSONSerialization()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>9.9222e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
			<key>testWhitespaceCharacterSetDescription()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00013503</real>
					<key>baselineIntegrationDisplayName</key>
					<string>14 Mar 2018 at 08:34:38</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
